<p>Hello <%= @resource.email %>!</p>

<p>Your account has been cancelled successfully.</p>

<p>If you wish to activate your account again, please use the following code:</p>

<p>
  <h3><%= @resource.activation_token %></h3>
</p>
