<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested to change your password, and you can do this by using password reset token given below.</p>

<p> Your password reset token is: <%= @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the token above and create a new one.</p>
